{% extends "base.html" %}

{% block content %}
<div class="home-container">
  <h2>Welcome to Spotify Clone</h2>
  <p>
    This is a web-based music streaming application made by K also know as k-is-sick, which is built with Flask, SQLAlchemy, Flask-Migrate, and other Python tools.
    It mimics the basic functionality of Spotify by allowing user authentication, song uploads with metadata extraction,
    and playback controls. Enjoy exploring and listening to your favorite tunes!
  </p>
</div>
{% endblock %}
